@font-face {
  font-family: "Kelson";
  src: url('../fonts/KelsonSansRegular.otf');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  min-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.main__header {
  position: absolute;
  bottom: 72%;
  width: 100%;
  height: 20%;
  background: url("../images/image_1.png") no-repeat center top;
  background-size: contain;
}

.main__button {
  position: absolute;
  bottom: 52.5%;
  left: calc(50% - 125px);
  font-family: "Kelson";
  font-size: 24px;
  width: 250px;
  height: 78px;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #ff8500, #f76b1c);
  box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: auto;
  border: none;
  cursor: pointer;
}

.main__background {
  background: url("../images/image_2.png") no-repeat center top;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}

@media only screen and (min-width: 400px) {
  .main__button {
    font-family: "Kelson";
    font-size: 24px;
    width: 316px;
    left: calc(50% - 158px);
  }

  @media only screen and (min-height: 900px) {
    .main__header {
      bottom: 65%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main__button {
    bottom: 58.5%;
  }

  .main__background {
    height: 57%;
  }

  @media only screen and (min-height: 900px) {
    .main__header {
      bottom: 71%;
    }
  }
}

@media only screen and (min-width: 992px) {
  @media only screen and (min-height: 900px) {
    .main__button {
      bottom: 64%;
    }
}

@media only screen and (min-height: 600px) {
  .main__background {
    height: 60%;
  }
  .main__button {
    bottom: 60.5%;
  }
}